<!DOCTYPE html>
<html>
	<head>
    <%= favicon_link_tag 'tab_icon.png'%>
		<title>ScoreMe.It</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCzbD-3fMLdXaPckBVALCgLcEVcNFJb9b4"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

		<%= render "navigation" %>

		<div id="yield">
			<div id="map"></div>
			<div class="row-fluid">
				<div class="centering" id="yield-container">
					<%= yield %>
				</div>
			</div>
		</div>


	</body>
</html>
